objectFiles/*.o
objectFiles/*.mod
objectFiles_*
documentation/html/*
or/.project
tools/metASCIILoader/.settings
tools/metASCIILoader/.cproject
tools/metASCIILoader/.project
tools/metASCIILoader/*.o
tools/metASCIILoader/*.mod
tools/outputVariableEditor/.settings
tools/outputVariableEditor/.project
tools/outputVariableEditor/.tern-project
tools/initFileConverter/*.o
tools/initFileConverter/*.mod
tools/regression-testing/output/*
bin/CLASSIC
oldcode
*.nc
outputFiles/*
inputFiles/*
src/backups/
bib*
cite*
