objectFiles/*.o
objectFiles/*.mod
or/.project
tools/metASCIILoader/.settings
tools/metASCIILoader/.cproject
tools/metASCIILoader/.project
tools/metASCIILoader/*.o
tools/metASCIILoader/*.mod
tools/outputVariableEditor/.settings
tools/outputVariableEditor/.project
tools/outputVariableEditor/.tern-project
tools/initFileConverter/*.o
tools/initFileConverter/*.mod
bin/CLASSIC
oldcode
outputFiles/*
inputFiles/*
